*.xlsx
inst/stan/epinowcast
inst/stan/models/epinowcast_laplace
inst/dev/embedded-laplace/epinowcast_laplace_nuts
results/stan-fit.rds
output
*.rds
inst/doc
*.tex
*.log
_targets
docs
cache
.DS_Store
.Rproj.user
*.Rproj
!inst/extdata/*.rds
/doc/
/Meta/
*.Rhistory
.vscode
/figures/
/vignettes/*_cache/
.here
*.pdf
CLAUDE.md