name: Benchmarks (Comment)

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

on:
  workflow_run:
    workflows: 
      - Benchmarks
    types:
      - completed

jobs:
  upload:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: lorenzwalthert/touchstone/actions/comment@main
        with: 
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
